*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
/* PAGINA PRINCIPAL */
body{
    padding: 2%;
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    grid-template-areas: "nav main";
    background-color: rgb(237, 239, 250);
}
section{
    border: solid 1px;
    border-radius: 10px;
    padding:0% 2% 2% 2%
}
main{
    grid-area: main;
}
nav{
    grid-area: nav;
    min-width: 0.1fr;
}
.section__titulo{
    grid-area: titulo;
}
article{
    display: grid;
    gap:10px;
    grid-template: repeat(2, 0.5fr) / repeat(auto-fit, minmax(275px, 1fr));
}
img:hover{
    animation-name: imagen;
    animation-duration: 2s;
    animation-delay: 0.2s;
    animation-iteration-count: 1;
    animation-timing-function:ease-in-out;
    animation-fill-mode: forwards;
}
.bx-cool{
    background-color: rgb(94, 94, 245); color: white; padding: 3%;
    border-radius: 10px;
    font-size: 1.5rem;
}
.grid-item__table{
    border: solid 1px;
    border-radius: 10px;
    padding: 2% 2%
}
.grid-item__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.grid-item__info__agregar{
    border:solid 1px;
    border-radius: 3px;
    padding:6px 3px;
    background-color: #EAEEEF;

}
.dash{
    font-size: 1.2rem;
    min-width: 190px;
}
.dash__titulo{
    padding-top: 5%;
    color: gray
}
a{
    color: black;
    text-decoration: none;
}
.dash__producto:hover{
    background-color: rgb(211, 211, 211);
    border-radius: 10px;
}
.dash__resto{
    padding-top: 25%;
}
.grid-item{
    border: solid 1px;
    padding: 0% 0%;
    border-radius: 10px;
    background-color: white;
}

p{
    line-height: 0.5;
}
/* PAGINA CARRITO */
#carrito{
    display: flex;
    flex-direction: row;
}
@keyframes imagen{
    25%{    
        border-top: double 3px;
        border-color: aqua;
        background-color: aqua;
        transform: rotate(15deg);
    }
    50%{    
        border-top: double 3px;
        border-right: double 3px;
        border-color: blueviolet;
    }
    75%{    
        border-top: double 3px;
        border-right: double 3px;
        border-bottom: double 3px;
        border-color: violet;
        transform: rotate(-15deg)
    }
    100%{
        border-top: double 3px;
        border-right: double 3px;
        border-bottom: double 3px;
        border-left: double 3px;
        padding:1%;
        border-radius: 10px;
        border-color: springgreen;
        background-color: violet;
        transform: scale(1.5);
    
    }
}    